@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

body {
    background: linear-gradient(225deg, rgba(251, 63, 63, 1) 0%, rgba(137, 70, 252, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blobs {
    background: url("Images/blob1.svg"), url("Images/blob2.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom -20rem left -20rem, top -20rem right -20rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: white;
    overflow: hidden;
    width: 60%;
    min-width: 510px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    /*
    background: url("phone.svg") no-repeat bottom right;
    */
    backdrop-filter: blur(90px);
    text-align: left;
    padding: 2rem 4rem;
    box-shadow: 1rem 1rem 2rem #0000008f;
}

.top-section {
    font-size: 0.75rem;
    color: white;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10rem;
}

.logo-img {
    width: 50px;
}

.top-left-section {
    display: flex;
    align-items: center;
}

.top-left-section .logo-img {
    margin-right: 1.25rem;
}

.top-left-section>a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

.top-right-section>a {
    padding: 0.6rem 1.4rem;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 192, 16);
    width: 25px;
    border-radius: 10px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-section>span {
    font-size: 0.6rem;
    font-weight: 600;
    background: linear-gradient(to right, #fff 0%, #0038a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-section>p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
}

.bottom-section>h1 {
    font-size: 3.5rem;
    letter-spacing: normal;
    line-height: 4rem;
}

.bottom-section>a {
    padding: 0.6rem 1.4rem;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 192, 16);
    width: fit-content;
    border-radius: 2rem;
}

.last-message {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.last-message>h1 {
    font-size: 5rem;
    font-weight: 200;
    margin-right: 2rem;
}

.last-message>p {
    font-size: small;
    font-weight: 200;
    padding-left: 2rem;
    border-left: 2px dotted rgb(255, 255, 255);
}

.payment-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 50%;
}
